src/main/app/payroll.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="payroll-httpListenerConfig" host="0.0.0.0" port="8087" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="payroll-config" raml="payroll.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="payroll-main">
        <http:listener config-ref="payroll-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="payroll-config" doc:name="APIkit Router"/>
        <exception-strategy ref="payroll-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="payroll-console">
        <http:listener config-ref="payroll-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="payroll-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/Payroll:payroll-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/Payroll:payroll-config">
        <set-payload value="{&#xA;&quot;message&quot; : &quot;payroll deleted&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/Payroll:payroll-config">
        <set-payload value="{&#xA;&quot;employeeID&quot;: 1001,&#xA;&quot;employeename&quot;: &quot;Kiruba&quot;&#xA;&quot;age&quot;: 30&#xA;&quot;designation&quot;: &quot;Engineer&quot;&#xA;&quot;department&quot;: &quot;India&quot;&#xA;&quot;salary&quot;: 20000&#xA;&quot;address&quot;: &quot;No:23,Ganapathypuram 1st street&quot;&#xA;&quot;Created_TS&quot;: 31-03-2020 11:00:00&#xA;&quot;Updated_TS&quot;: 01-04-2020 11:00:00&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/Payroll:payroll-config">
        <set-payload value="{&#xA;&quot;employeeID&quot;: 1002,&#xA;&quot;employeename&quot;: &quot;Kanth&quot;&#xA;&quot;age&quot;: 31&#xA;&quot;designation&quot;: &quot;Engineer&quot;&#xA;&quot;department&quot;: &quot;India&quot;&#xA;&quot;salary&quot;: 20000&#xA;&quot;address&quot;: &quot;No:23,Silver Spring apts&quot;&#xA;&quot;Created_TS&quot;: 31-03-2020 11:00:00&#xA;&quot;Updated_TS&quot;: 01-04-2020 11:00:00&#xA;&quot;Operation&quot; : &quot;Insert&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="payroll-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
